# Maven
target/
*.jar
*.war
*.ear
*.class

# IDEs
.idea/
.vscode/
*.iml
*.project
*.classpath
*.settings/
*.springBeans

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-data/
mysql-data/

.run/
